{% extends 'djpaste/base.html' %}

{% block content %}

<h3 class="titletxt">
    {{paste.title}}
</h3>
<div id="controls">
    <span class="language">
        Bahasa: {{paste.language}}
    </span>
    <div class="choices">
    <a href={{paste.get_plain_url}}>Lihat dalam bentuk teks </a>
    <a href={{paste.get_html_url}}>Lihat dalam bentuk html</a>
    </div>
</div>

<div id="pastetext">
{{paste.htmld_text|safe}}
</div>

<div id="info">
    Pasted
    {% if paste.name %}
     by {{paste.name}}
    {% endif %}
    on {{paste.created_on}}
</div>

{% endblock %}
