{% extends "base.html" %}
{% load comments %}
{% load tinymce_tags %}
{% block content %}

<div class="resources">
	        <div class="resources">
	        <h3> Tutorial </h3>
	  
           <!-- Posts  -->
        <ul>
            {% for post in posts.object_list %}
                <div class="title"><h2>{{ post.judul }}</h2></div>
                <ul>
					{% autoescape on %}
                    <div class="time">{{ post.created }}</div>
                    <div class="body">{{ post.body|linebreaks }}</div>
                    {% endautoescape %}
                </ul>
            {% endfor %}
        </ul>
	
              
        <!-- Next/Prev page links  -->
        {% if posts.object_list and posts.paginator.num_pages > 1 %}
        <div class="pagination" style="margin-top: 20px; margin-left: -20px; ">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href= "?page={{ posts.previous_page_number }}">Postingan Baru &lt;&lt; </a>
                {% endif %}

                <span class="current">
                    &nbsp;Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                </span>

                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}"> &gt;&gt; Postingan Lama</a>
                {% endif %}
            </span>
        </div>
        {% endif %}

    </div>

{% endblock %}
